*, :before, :after {
    box-sizing: border-box;
}
body, html {
    height: 100%;
}
body{
    /* background-color: #050f2c ; */
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    min-width: 320px;
    margin:20px;
    font-family: 32px "Century Gothic" , Futura , sans-serif;
}
.game{
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.game-board {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    padding-top: 2px;
    padding-left: 2px;
}
.game-board.draw {
    opacity: 0.5;
}
@media (max-width: 319px) {
    .game-board {
      width: 150px;
      height: 150px;
    }
}
.board-row{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    /* height: 33.3333333333%; */
}

/* .board-row:nth-child(2), .board-row:nth-child(3) {
    margin-top: -2px;
} */
.game-board-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 170px;
    padding-right: 280px;
    transition: padding-right 0.2s;
  }
  @media (max-width: 767px) {
    .game-board-wrapper {
      padding-right: 0;
    }
  }
.square{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444;
    color: white;
    border: 1px solid #999;
    padding: 0;
    font-size: 84px;
    font-weight: bold;
    text-align: center;
    width: 120px;
    height: 120px;
}
@media (max-width: 600px) {
    .square {
      font-size: 18px;
    }
  }
.square:focus{
    outline: none;
    background-color: #222;
}
.square.winner {
    position: relative;
    z-index: 1;
    background-color: #171717;
    border-color: #be33ff;
  }
.status{
    margin: 20px;
    font-size: 24px;
}