*, :before, :after {
    box-sizing: border-box;
}
body, html {
    height: 100%;
}
body{
    background-color: #171717 ;
    /* background: rgba(29, 29, 29, 0.7); */
    /* background: rgb(238,174,202); */
    /* background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
    min-width: 320px;
    /* margin:20px; */
    font-family: 32px "Century Gothic" , Futura , sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.wrapper{
  min-height: 100%;
  margin-bottom: -50px;
}
.game-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    width: 280px;
    padding: 20px 0;
    font-size: 0.9375em;
    background: purple;
    /* background: rgba(29, 29, 29, 0.7); */
    color: white;
    overflow-y: auto;
    transition: right 0.2s;
  }
  @media (max-width: 767px) {
    .game-sidebar {
      background-color: rgba(29, 29, 29, 0.7);
    }
  }
  .game-sidebar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .game-sidebar ul li {
    margin-bottom: 4px;
  }
  .game-sidebar ul li button {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 11.5px 18px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.03);
    border: none;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: all 0.2s;
  }
  .game-sidebar ul li button:focus {
    outline: none;
  }
  .game-sidebar ul li button span {
    margin-left: 10px;
    font-size: 0.7em;
    opacity: 0.8;
  }
  .game-sidebar ul li:not(.active) button:hover, .game-sidebar ul li:not(.active) button:focus {
    background-color: rgba(255, 255, 255, 0.05);
    color: rgba(255, 255, 255, 0.6);
    transition-duration: 0s;
  }
  .game-sidebar li.active button {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    opacity: 1;
  }
  .game-control {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 100;
    display: flex;
    align-items: center;
    color: white;
  }
  .game-control .game-control-info {
    margin-right: 15px;
    font-size: 1em;
    opacity: 0;
    transition: opacity 0.2s;
    color: rgba(148,187,233,1);
    font-weight: bold;

  }
  .game-control .more-button {
    display: inline-block;
    padding: 5px 12px;
    font-weight: bold;
    background-color: rgba(148,187,233,1);
    border-radius: 50px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
  }
  .game-control .more-button span {
    display: block;
    height: 18px;
    text-align: center;
    transition: all 0.2s;
  }
  .game-control .more-button span:nth-child(1) {
    opacity: 0;
  }
  .game-control .more-button span:nth-child(2) {
    margin-top: -18px;
    opacity: 1;
  }
.sort-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 26px;
    height: 26px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s;
  }
  .sort-button:focus {
    outline: none;
  }
  .sort-button.desc {
    transform: scaleY(-1);
  }
  .sort-button svg {
    width: 16px;
    height: 16px;
  }
  .sort-button svg path.secondary {
    fill: rgba(255, 255, 255, 0.5);
  }
  .sort-button svg path.primary {
    fill: white;
  }
  #sidebar-toggle {
    display: none;
  }
  #sidebar-toggle:checked ~ .game-board-wrapper {
    padding-right: 0;
  }
  #sidebar-toggle:checked ~ .game-sidebar {
    right: -280px;
  }
  #sidebar-toggle:checked ~ .game-control .game-control-info {
    opacity: 0.5;
  }
  #sidebar-toggle:checked ~ .game-control .more-button span:nth-child(1) {
    opacity: 1;
  }
  #sidebar-toggle:checked ~ .game-control .more-button span:nth-child(2) {
    opacity: 0;
  }
.game{
    position: relative;
    display: flex;
    /* height: 100%; */
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.game-board {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    padding-top: 2px;
    padding-left: 2px;
}
.game-board.draw {
    opacity: 0.5;
}
@media (max-width: 319px) {
    .game-board {
      width: 150px;
      height: 150px;
    }
}
.board-row{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    /* height: 33.3333333333%; */
}

/* .board-row:nth-child(2), .board-row:nth-child(3) {
    margin-top: -2px;
} */
.game-board-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 170px;
    padding-right: 280px;
    transition: padding-right 0.2s;
  }
  @media (max-width: 767px) {
    .game-board-wrapper {
      padding-right: 0;
    }
  }
.square{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(238,174,202) !important;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, purple 100%)!important;
    /*  */
    color: white !important;
    border: 3px solid #999 !important;
    padding: 0;
    font-size: 84px !important;
    font-weight: bold;
    text-align: center;
    width: 120px;
    height: 120px;
}
@media (max-width: 600px) {
    .square {
      font-size: 18px;
    }
  }
.square:focus{
    outline: none !important;
}

.square.winner {
    position: relative;
    z-index: 1;
    background: rgb(238,174,202) !important;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%)!important ;
    border-color: #be33ff !important;
  }

ol, ul {
    padding-left: 30px;
  }
  
  .status {
    margin-bottom: 10px;
  }
.game-sidebar-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 18px;
}
.footer{
    background-color: purple;
    height: 50px;
    margin-top: 150px;
    width: 100%;
}